.todo {
    list-style: none;
    margin: 15px;
    padding: 10px;
}

.todo:hover {
    background-color: rgb(171, 126, 255);
    list-style: none;
    margin: 15px;
}

.input-radio {
    margin-right: 15px;
}

.todo-item {
    display: inline-block;
}